body {
  background-color: rgb(86, 121, 121);
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
}

button {
  cursor: pointer;
  padding: 1.1rem 1.3rem;
  border-radius: 20px;
  font-size: 28px;
  margin-right: 5px;
}

.result {
  font-family: "Stardos Stencil", cursive;
  margin-top: 10px;
  width: 82%;
  height: 95px;
  font-size: 30px;
  background-color: whitesmoke;
  color: rgba(0, 0, 0, 0.85);
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.result .prev-operand {
  font-size: 22px;
  margin-right: 10px;
}

.result .curr-operand {
  margin-right: 10px;
}

.result div {
  text-align: right;
}

.content {
  background-color: rgb(112, 107, 107);
  border-radius: 15px;
  margin-top: 110px;
  min-width: 75%;
  min-height: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.calcRows {
  width: 100%;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.lastCalcRow {
  width: 100%;
  justify-content: center;
}

.delRow {
  width: 100%;
}

.delRow button {
  padding: 1.1rem 2.1rem;
}

.delRow button:hover {
  background-color: rgb(95, 30, 156);
  color: aliceblue;
}

.num {
  background-color: beige;
  color: rgb(68, 2, 68);
}

.num:hover {
  background-color: royalblue;
  color: aliceblue;
}

.operator {
  background-color: darkkhaki;
}

.operator:hover {
  background-color: midnightblue;
  color: beige;
}

.del-n-clear {
  background-color: lightcoral;
}

.dotBtn {
  padding: 1.3rem 1.5rem;
}

#calcNums {
  margin-top: 20px;
  width: 80%;
}

@media only screen and (min-width: 500px) {
 .content {
  min-width: 45%;
 }
}

@media only screen and (min-width: 750px) {
  .content {
    min-width: 50%;
    min-height: 75%;
  }

  button {
    padding: 1.8rem 2.2rem;
  }

  .dotBtn {
    padding: 1.5rem 2.5rem;
  }

  .delRow button {
    padding: 1.5rem 4rem;
  }
}

@media only screen and (min-width: 1050px) {
  .content {
    min-width: 38%;
  }
}

@media only screen and (min-width: 1300px) {
  .content {
    min-width: 27%;
    min-height: 75%;
  }
}
